* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}

.bannermerch {
  max-height: 720px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing:4px;
  text-align: center;
  font-weight: 300;
  color: whitesmoke;
  text-shadow: 3px 2px 3px rgb(54, 62, 70);
}
h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 400;
  margin-top: 0.3rem;
  color: whitesmoke;
  text-shadow: 4px 3px 4px rgb(54, 62, 70);
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 3px 2px 3px rgb(54, 62, 70);
}


p {
  font-family: 'Raleway', sans-serif;
  letter-spacing:1px;
  font-weight: 400;
  color: whitesmoke;
  text-shadow: 3px 2px 3px rgb(54, 62, 70);
  margin: 0 auto;
  padding-bottom: 1rem;
}

#presentacion {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(88, 86, 86, 0.60);
  text-align: center;
  padding-top: 1.5rem;

}

#estiloCarrito {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-weight: 400;
  color: whitesmoke;
  text-shadow: 3px 2px 3px rgb(54, 62, 70);
  padding-bottom: 1rem;
  backdrop-filter: blur(5px);
  background-color: rgba(139, 138, 138, 0.452);
  border-radius: 3px;
  /* box-shadow: 5px 6px 7px 0px rgba(54, 62, 70, 0.507); */
}
#birrasEnCarrito {
  font-size: 22px;
}
.carrito {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 400;
  background-color: rgb(255, 166, 0);
  margin: 1.5rem;
  box-shadow: 6px 4px 4px rgba(61, 42, 1, 0.609);
}

/* Tarjetas de Productos */
#casilla-merch {
  display: flex;
  justify-content: space-around;
  justify-items: space-around;
}

.casillaMerch {
  height: 18rem;
  width: 11rem;
  margin: 2.5rem 0rem 0rem 0rem;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(139, 138, 138, 0.452);
  border-radius: 3px;
  box-shadow: 5px 6px 7px 0px rgba(54, 62, 70, 0.507);
}

.img-merch {
  height: 9rem;
  align-items: center;
  padding-top: 10px;
}

.btn3 {
  padding: 8px;
  border-radius: 5px;
}

#contenedorCheckOut {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(66, 57, 57, 0.801);
}
#checkOut {
  align-content: center;
  padding: 2.5rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing:1px;
  font-weight: 400;
  color: whitesmoke;
  backdrop-filter: blur(5px);
  border: solid  rgba(240, 255, 255, 0.5) 0.5px;
  border-radius: 5px;
  box-shadow: 5px 6px 7px 0px rgba(54, 62, 70, 0.507);
  background-color: rgba(139, 138, 138, 0.452);
  text-shadow: 3px 2px 3px rgb(54, 62, 70);
  height: 90%;
  width: 95%;
  position: fixed;
  right: 2.5%;
  bottom: 5%;
  z-index: 2;
}


/* Botones */
.boton {
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  right: 2rem;
  bottom: 0.5rem;
  z-index: 1;
}

.btn2 {
  display: flex;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  position: sticky;
  left: 0.8rem;
}

.hide {
  display: none;
}

.consultas {
  margin: 2.8rem;
}
#formulario {
  margin-top: 4rem;
  backdrop-filter: blur(5px);
  background-color: rgba(88, 86, 86, 0.774);
  border: solid 1px rgb(255, 255, 255, 0.1);
  border-radius: 3px;
  box-shadow: 5px 6px 7px 0px rgba(54, 62, 70, 0.507);

}

.form-label {
  color: white;
}


#inicioSesion {
  background-color: rgba(88, 86, 86, 0.60);
  text-align: justify;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.row>* {
  padding: 0px;
}

#userCard {
  color: whitesmoke;
  height: 100%;
  width: 70%;
  text-shadow: 3px 2px 3px rgb(54, 62, 70);
  text-align: justify;
  border-radius: 1px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(139, 138, 138, 0.30);
  border-radius: 3px;
  box-shadow: 5px 6px 7px 0px rgba(54, 62, 70, 0.507);
}
#sideCard {
  background-color: rgba(230, 218, 218, 0.60);
  border-radius: 3px;
  box-shadow: 5px 6px 7px 0px rgba(54, 62, 70, 0.507);
  padding: 1rem;
  height: 100%;
  width: 100%;
}
#userName {
  margin: 1rem;
}
#avatar {
  margin: 0.5rem;
  border-radius: 10px;
  max-height: 100px;
  object-fit: cover;
}
